// Primary Colors
$blue-dark: rgb(15,88,123);
$black-blue: rgba(16,32,40,0.04);
$pink-light: rgb(246,210,214);
$blue-light: rgb(222,232,242);
$blue-medium: rgb(155,169,208);
$blue-white: rgb(199,216,232);
$purple-light: rgb(155,157,198);
$purple-dark: rgb(121,117,175); 
// Accent Colors
$off-white: rgb(230, 237, 243);
$white: rgb(247, 248, 249);
$black: rgb(34, 34, 34);